
@media (min-width: 1024px) {
    .services-list__text {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .services-list {
        grid-auto-rows: 200px;
        padding: 15px;
        gap: 15px;
    }
}

@media (min-width: 768px) {
    .main-page__section {
        border-bottom: 1px solid #000000;
    }

    .sticky {
        position: sticky;
        -webkit-position: sticky;
        top: 20px;
    }

    .has-divider, .review:not(:first-child) {
        border-left: 1px solid #000000;
    }


    .adv-number {
        font-size: 64px;
    }


    .faq-tabs {
        width: 55%;
        padding: 50px;
    }


    .contacts__adress {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1015px) {
    .adv-item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-page__section {
        margin-bottom: 50px;
    }

    .main-page__heading {
        font-size: 24px;
    }

    .section-text {
        margin-bottom: 25px;
        padding: 25px 25px 25px 35px;
    }

    .container-wide.flex, .reviews-list {
        flex-wrap: wrap;
    }

    .width-50, .faq-text, .faq-tabs, .review {
        width: 100%;
    }


    

    .adv-items {
        flex-wrap: wrap;
    }
    
    .adv-item {
        padding: 25px 40px;
        border-top: 1px solid #000000;
    }

    .adv-item:nth-child(3) {
        display: none;
    }


    .services__text__paragraph:not(:first-of-type) {
        display: none;
    }


    .contact-form {
        padding: 45px 35px;
        order: 1;
    }


    .review:not(:last-child) {
        border-bottom: 1px solid;
    }
    
    .review-name {
        margin-bottom: 50px;
    }




    .contacts-data {
        padding: 30px;
    }

    .contacts-data__main, .contacts__adress {
        margin-bottom: 30px;
    }
    
    .contacts-map {
        order: 1;
    }

    .contacts__phone {
        font-size: 26px;
    }

    .contacts__mail {
        font-size: 18px;
    }

    .contacts-data__footer {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .services-list {
        grid-template-columns: 1fr;
    }
}