.pass-recovery-page__content .container {
    padding-top: 160px;
    padding-bottom: 145px;
    text-align: center;
}

.pass-recovery__heading {
    margin-bottom: 8px;
    color: var(--dark-color);
    font-size: 4em;
}

.pass-recovery__subheading {
    margin-bottom: 40px;
    color: var(--grey-hover);
    font-size: 1.125em;
}

.pass-recovery__form {
    max-width: 435px;
    margin: 0 auto 24px;
}

.input--recovery-wrapper::before {
    content: 'Email or Phone';
}

.pass-recovery__input {
    margin-bottom: 24px;
}

.pass-recovery__footer {
    color: var(--grey-hover);
    font-size: 1.125em;
}




@media (max-width: 1024px) {
    .pass-recovery-page__content .container {
        padding-top: 120px;
    }
}

@media (max-width: 768px) {
    .pass-recovery-page__content .container {
        padding-top: 80px;
    }
}

@media (max-width: 723px) {
    .pass-recovery__heading {
        font-size: 2.5em;
    }
}

@media (max-width: 480px) {
    .pass-recovery-page__content .container {
        padding-top: 40px;
    }
}

@media (max-width: 376px) {
    .pass-recovery-page__content .container {
        padding-top: 20px;
    }
}